extends ../../layouts/default.pug
include ../../mixins/alert.pug
include ../../mixins/filter-status.pug
include ../../mixins/form-search.pug
include ../../mixins/sort.pug
include ../../mixins/pagination.pug
include ../../mixins/form-change-multi.pug
include ../../mixins/table-tree.pug


block main 
  if(role.permissions.includes("products-category_view"))
    h1 Trang danh mục sản phẩm
    +alert()

    .card.mb-3
      .card-header Bộ lọc và tìm kiếm danh mục
      .card-body
        .row
          .col-6
            +filter-status(filterStatus)
          .col-6 
            +form-search(keyword)

    .card.mb-3 
      .card-header Sắp xếp danh mục
      .card-body
        .row
          .col-4
            +sort([
              {value:"position-desc",text:"Vị trí giảm dần"},
              {value:"position-asc",text:"Vị trí tăng dần"},
              {value:"title-asc",text:"Tiêu đề A - Z"},
              {value:"title-desc",text:"Tiêu đề Z - A"},
            ])


    .card.mb-3
      .card-header Danh sách danh mục
        .card-body 
          .row
            .col-8
              - let multiActions = []
              if(role.permissions.includes("products-category_edit"))
                - multiActions.push({ value: "active", text: "Hoạt động" })
                - multiActions.push({ value: "inactive", text: "Dừng hoạt động" })
                - multiActions.push({ value: "change-position", text: "Thay đổi vị trí" })
              if(role.permissions.includes("products-category_delete"))
                - multiActions.push({ value: "delete-all", text: "Xoá tất cả sản phẩm" })

              +form-change-multi(`${prefixAdmin}/products-category/change-multi?_method=PATCH`,multiActions)
            .col-2
              if(role.permissions.includes("products-category_create"))
                a(href=`${prefixAdmin}/products-category/create` class="btn btn-outline-success") + Thêm mới
            .col-2
              if(role.permissions.includes("products-category_delete"))
                a(href=`${prefixAdmin}/products-category/trash` class="btn btn-outline-success") Thùng rác
          
          table(
            class="table table-hover table-sm"
            table-checkbox-multi
            )
            thead 
              tr 
                th  
                  input(type="checkbox", name="checkAll")
                th STT 
                th Hình ảnh 
                th Tiêu đề 
                th Vị trí 
                th Trạng thái 
                th Hành động
            tbody 
              +table-tree(records)
          
    +pagination(pagination) 

    form(
    action=""
    method="post"
    id="form-change-status"
    data-path=`${prefixAdmin}/products-category/change-status`
    ) 

    form(
    action=""
    method="post"
    id="form-delete-item"
    data-path=`${prefixAdmin}/products-category/delete`
    ) 

    script(src="./js/product-category.js") 
  else 
    h1 Bạn không có quyền truy cập!

