extends ../../layouts/default.pug
include ../../mixins/filter-status.pug
include ../../mixins/pagination.pug
include ../../mixins/form-change-multi.pug
include ../../mixins/alert.pug

block main
  if(role.permissions.includes("products-category_delete"))
    h1 Thùng rác danh mục
    +alert()
        
    .card.mb-3
      .card-header Bộ lọc và tìm kiếm danh mục
      .card-body
        .row
          .col-6
            +filter-status(filterStatus)

    .card.mb-3
      .card-header Thùng rác danh mục
        .card-body 
          .row 
            .col-8
              +form-change-multi(`${prefixAdmin}/products-category/change-multi?_method=PATCH`,[
                { value: "restore", text: "Khôi phục" },
                { value: "delete-permanently", text: "Xoá vĩnh viễn" }
              ])

          table(
            class="table table-hover table-sm"
            table-checkbox-multi
            )
            thead 
              tr 
                th  
                  input(type="checkbox", name="checkAll")
                th STT 
                th Hình ảnh 
                th Tiêu đề 
                th Vị trí 
                th Trạng thái 
                th Hành động
            tbody 
              each item,index in records 
                tr 
                  td 
                    input(
                      type="checkbox"
                      name="id" 
                      value=item.id
                      )
                  td #{index+1}
                  td
                    img(
                    src=item.thumbnail 
                    alt=item.title 
                    width="100px" 
                    height="auto"
                    )
                  td #{item.title}
                  td 
                    input(
                      type="number" 
                      value=item.position 
                      style="width:60px" 
                      min="1" 
                      name="position"
                      readonly
                      )
                  td  
                    if(item.status=="active")
                      span(
                        class="badge badge-success"
                        ) Hoạt động 
                    else
                      span(
                        class="badge badge-danger"
                        ) Dừng hoạt động
                  td 
                    button(
                      class="btn btn-warning btn-sm"
                      button-restore
                      data-id=item.id
                      ) Khôi phục
                    button(
                      class="btn btn-danger btn-sm ml-1"
                      button-delete-permanently
                      data-id=item.id
                      ) Xoá vĩnh viễn

    +pagination(pagination) 

    form(
    action=""
    method="post"
    id="form-delete-permanently-item"
    data-path=`${prefixAdmin}/products-category/trash/delete-permanently`
    ) 
    form(
    action=""
    method="post"
    id="form-restore-item"
    data-path=`${prefixAdmin}/products-category/trash/restore`
    ) 
    script(src="/admin/js/product-category.js")
  else 
    h1 Bạn không có quyền truy cập!