mixin sort(actions)
  div(sort)
    select(
      class="form-control"
      name="sort"
      sort-select
    ) 
      option(disabled selected) --Chọn tiêu chí-- 
      each item in actions
        option(value=item.value) #{item.text} 
    
    button(
      class="btn btn-danger mt-2"
      sort-clear
    ) Clear