extends ../../layouts/default.pug
include ../../mixins/alert.pug


block main
  if(role.permissions.includes("roles_create"))
    h1(class="mb-4") Trang tạo nhóm quyền
    +alert()
    form(
      action=`${prefixAdmin}/roles/create` 
      id="form-create-role" 
      method="post"
    )
      div(class="form-group")
        label(for="title") Tiêu đề
        input(
          type="text"
          class="form-control"
          id="title"
          name="title"
        )
      div(class="form-group")
        label(for="desc") Mô tả
        textarea(
          type="text"
          class="form-control"
          id="desc"
          name="description"
          rows="5"
        ) 
      div(class="form-group")
        button(
          type="submit"
          class="btn btn-primary"
        ) Tạo mới
        
    script(src="/admin/js/role.js")
  else 
    h1 Bạn không có quyền truy cập!